{% include 'public_header.html' %}
   



    <!-- main-slider -->
    <section class="w3l-main-slider" id="home">
        <div class="companies20-content">
            <div class="owl-one owl-carousel owl-theme">
                <div class="item">
                    <li>
                        <div class="slider-info banner-view bg bg2">
                            <div class="banner-info">
                                <div class="container">
                                    <div class="banner-info-bg">
                                        <h5>A Great Place for Learning</h5>
                                        <p class="mt-4 pr-lg-4">Choose from over 100,000 online video courses with new
                                            additions published every month</p>
                                        <a class="btn btn-style btn-primary mt-xl-5 mt-4 mr-2" href="/login"> Get
                                            Started <span class="fa fa-chevron-right ml-2"
                                                aria-hidden="true"></span></a>
                                        <a class="btn btn-style btn-white mt-xl-5 mt-4" href="#homeblog"> View
                                            Courses <span class="fa fa-chevron-right ml-2"
                                                aria-hidden="true" ></span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </div>
                <div class="item">
                    <li>
                        <div class="slider-info  banner-view banner-top1 bg bg2">
                            <div class="banner-info">
                                <div class="container">
                                    <div class="banner-info-bg">
                                        <h5>Learning to Love, Loving to Learn</h5>
                                        <p class="mt-4 pr-lg-4">Choose from over 100,000 online video courses with new
                                            additions published every month</p>
                                        <a class="btn btn-style btn-primary mt-xl-5 mt-4 mr-2" href="/login"> Get
                                            Started <span class="fa fa-chevron-right ml-2"
                                                aria-hidden="true"></span></a>
                                        <a class="btn btn-style btn-white mt-xl-5 mt-4" href="#homeblog"> View
                                            Courses <span class="fa fa-chevron-right ml-2"
                                                aria-hidden="true"></span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </div>
                <div class="item">
                    <li>
                        <div class="slider-info banner-view banner-top2 bg bg2">
                            <div class="banner-info">
                                <div class="container">
                                    <div class="banner-info-bg">
                                        <h5>A Great Place for Learning</h5>
                                        <p class="mt-4 pr-lg-4">Choose from over 100,000 online video courses with new
                                            additions published every month </p>
                                        <a class="btn btn-style btn-primary mt-xl-5 mt-4 mr-2" href="/login"> Get
                                            Started <span class="fa fa-chevron-right ml-2"
                                                aria-hidden="true"></span></a>
                                        <a class="btn btn-style btn-white mt-xl-5 mt-4" href="#homeblog"> View
                                            Courses <span class="fa fa-chevron-right ml-2"
                                                aria-hidden="true"></span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </div>
                <div class="item">
                    <li>
                        <div class="slider-info banner-view banner-top3 bg bg2">
                            <div class="banner-info">
                                <div class="container">
                                    <div class="banner-info-bg">
                                        <h5>Learning to Love, Loving to Learn</h5>
                                        <p class="mt-4 pr-lg-4">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                            Velit
                                            quisquam, doloremque placeat aut numquam ipsam. </p>
                                        <a class="btn btn-style btn-primary mt-xl-5 mt-4 mr-2" href="/login"> Get
                                            Started <span class="fa fa-chevron-right ml-2"
                                                aria-hidden="true"></span></a>
                                        <a class="btn btn-style btn-white mt-xl-5 mt-4" href="#homeblog"> View
                                            Courses <span class="fa fa-chevron-right ml-2"
                                                aria-hidden="true"></span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </div>
            </div>
            <div class="w3l-banner-grids">
                <div class="bangrids-inn">
                    <div class="banhny-grid-1">
                        <div class="banhny-grid-icon">
                            <span class="fa fa-laptop"></span>
                        </div>
                        <div class="banhny-grid-right-info">
                            <h6><a href="#url">100,000 online courses</a></h6>
                            <p>Focus is having the unwavering attention.</p>
                        </div>
                    </div>
                    <div class="banhny-grid-1">
                        <div class="banhny-grid-icon">

                            <span class="fa fa-users"></span>

                        </div>
                        <div class="banhny-grid-right-info">
                            <h6><a href="#url">Lifetime entrance</a></h6>
                            <p>New skills online the best way is to develop and follow.</p>
                        </div>
                    </div>
                    <div class="banhny-grid-1">
                        <div class="banhny-grid-icon">
                            <span class="fa fa-book"></span>
                        </div>
                        <div class="banhny-grid-right-info">
                            <h6><a href="#url">Live learning</a></h6>
                            <p>Start with your goals in mind and then work.</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>
    <!-- /main-slider -->
    <!-- //banner section -->
    <!-- /content-1-->
    <div class="content-1 py-5">
        <div class="container py-md-5">
            <div class="row content-1-grids">
                <div class="col-lg-4 content-1-left forms-25-info">
                    <div class="header-title">
                        <span class="sub-title">About Us</span>
                        <h3 class="hny-title">Learn at Your Own Place</h3>
                     
                    </div>
                </div>
                <div class="col-lg-4 content-1-right pl-lg-5 mt-lg-0 mt-4">
                    <p class="">Lorem ipsum viverra feugiat. Pellen tesque libero ut justo,
                        ultrices in ligula. Semper at tempufddfel. Lorem ipsum dolor sit amet
                        elit. Non quae, fugiat nihil ad. Lorem ipsum dolor sit amet. Lorem ipsum init
                        dolor sit, amet elit. Dolor ipsum non velit.
                    </p>
                </div>
                <div class="col-lg-4 content-1-right pl-lg-5 mt-lg-0 mt-4">
                    <p class="">Lorem ipsum viverra feugiat. Pellen tesque libero ut justo,
                        ultrices in ligula. Semper at tempufddfel. Lorem ipsum dolor sit amet
                        elit. Non quae, fugiat nihil ad. Lorem ipsum dolor sit amet. Lorem ipsum init
                        dolor sit, amet elit. Dolor ipsum non velit.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!-- //content-1-->
    <!--/courses-->
    <div class="w3l-homeblog py-5" id="homeblog">
        <div class="container py-lg-5 py-md-4">
            <div class="header-title mb-3">
                <span class="sub-title">Top Courses</span>
                <h3 class="hny-title text-left">Browse Our Top Courses.</h3>
            </div>
            <div class="row top-pics ">

                {% for row in data['view_course'] %}

                <div class="col-lg-3 col-md-6 mt-5">
                    <div class="top-pic1">
                        <div class="card-body blog-details">
                            <p class="course-sub">Course Name </p>
                            <a href="#" class="blog-desc"> {{ row['course'] }}
                            </a>
                            <div class="author align-items-center">
                                <img src="/static/assets/images/admin.jpg" alt="" class="img-fluid rounded-circle">
                                <ul class="blog-meta">
                                    <ul class="blog-meta">
                                        <li class="meta-item blog-lesson">
                                            <span class="meta-value"> {{ row['duration'] }} Hours </span>. <span
                                                class="meta-value text-bold">₹{{ row['rate'] }}</span>
                                        </li>
                                        <li>
                                            <p><a href="public_view_syllabus?course_id={{ row['course_id'] }}">View Syllabus</a></p>
                                        </li>
                                    </ul>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
               
            </div>
        </div>
    </div>
    

    <!-- middle -->
    <div class="middle py-5">
        <div class="container pt-lg-2 pb-lg-4 py-4">
            <div class="welcome-left text-center py-lg-4">
                <h3 class="hny-title">Educating Champions of a Just and Sustainable World.</h3>
                <div class="middle-buttons pb-5">
                   
                </div>
            </div>
        </div>
    </div>
    <!-- //middle -->
    <!-- stats -->
    <section class="w3_stats py-lg-0 py-5" id="stats">
        <div class="container">
            <div class="w3-stats">
                <div class="row">
                    <div class="col-md-3 col-6 mt-md-0 mt-5">
                        <div class="counter">
                            <span class="fa fa-clone"></span>
                            <div class="timer count-title count-number mt-3" data-to="15100" data-speed="1500"></div>
                            <p class="count-text">Successfully Trained</p>
                        </div>
                    </div>
                    <div class="col-md-3 col-6 mt-md-0 mt-5">
                        <div class="counter">
                            <span class="fa fa-video-camera"></span>
                            <div class="timer count-title count-number mt-3" data-to="19256" data-speed="1500"></div>
                            <p class="count-text ">We Proudly Received</p>
                        </div>
                    </div>
                    <div class="col-md-3 col-6 mt-md-0 mt-5">
                        <div class="counter">
                            <span class="fa fa-smile-o"></span>
                            <div class="timer count-title count-number mt-3" data-to="12100" data-speed="1500"></div>
                            <p class="count-text">Getting Featured On</p>
                        </div>
                    </div>
                    <div class="col-md-3 col-6 mt-md-0 mt-5">
                        <div class="counter">
                            <span class="fa fa-users"></span>
                            <div class="timer count-title count-number mt-3" data-to="2560" data-speed="1500"></div>
                            <p class="count-text">Firmly Eastablished</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- //stats -->
    <!-- home page video popup section -->
<section class="w3l-videohny" id="video">
    <div class="new-block py-5">
        <div class="container py-lg-5">
                <div class="history-info position-relative">
                        <!--//video-->
                        <a href="#small-dialog" class="popup-with-zoom-anim play-view text-center pl-3">
                            <span class="video-play-icon">
                                <span class="fa fa-play"></span>
                            </span>
                        </a>

                        <!-- dialog itself, mfp-hide class is required to make dialog hidden -->
                        <div id="small-dialog" class="zoom-anim-dialog mfp-hide">
                            <iframe src="https://player.vimeo.com/video/18212142" frameborder="0"
                                allow="autoplay; fullscreen" allowfullscreen></iframe>
                        </div>
                        <!--//video-->
                    </div>

                <!-- dialog itself, mfp-hide class is required to make dialog hidden -->
                <div id="small-dialog" class="zoom-anim-dialog mfp-hide">
                    <iframe src="https://player.vimeo.com/video/18212142" frameborder="0"
                                allow="autoplay; fullscreen" allowfullscreen></iframe>
                </div>
            </div>
    </div>
</section>

    <section class="w3l-clients-1" id="testimonials">
        <!-- /grids -->
        <div class="cusrtomer-layout py-5">
            <div class="container py-lg-5 py-md-4">
                <div class="header-title mb-md-5 mb-4">
                    <span class="sub-title">Testimonials</span>
                    <h3 class="hny-title text-left">What People Say</h3>
                </div>
                <!-- /grids -->
               
                <div class="testimonial-row">
                   
                    <div id="owl-demo1" class="owl-two owl-carousel owl-theme mb-md-3 mb-sm-5 mb-4">
                        {% for row in data['view_rating'] %}
                        <div class="item">
                            <div class="testimonial-content"></div>
                       

                                <div class="testimonial">
                                    <blockquote>
                                        <q>{{ row['details'] }}</q>
                                    </blockquote>
                                </div>
                                <div class="testi-des">
                                    <div class="test-img">
                                        <img src="/static/assets/images/team1.jpg" class="img-fluid" alt="client-img">
                                    </div>
                                    <div class="peopl align-self">
                                        <h4>{{ row['firstname'] }} {{ row['lastname'] }}</h4>
                                        <h5> Rating : {{ row['rated'] }}/5</h5>
                                        <h5> Date : {{ row['date'] }}</h5>
                                        <p class="indentity">Student </p>
                                    </div>
                                </div>
                            
                       
                       
                    </div>
                    {% endfor %}

                    </div>
                    
                       
                    </div>
                  
                </div>
            </div>
            <!-- /grids -->
        </div>
        <!-- //grids -->
    </section>
    <!-- //testimonials -->

{% include 'footer.html' %}