{% include 'manager_header.html' %}



<div  style="background-image: url(/static/assets/images/banner1.jpg); height: 300px;width: 100%;">
    <div class="banner-info-bg" style="padding-top: 7em;padding-left: 10em;">
        <h2 style="color: #fff;">A Great Place for Learning</h2>
        <p class="mt-4 pr-lg-4" style="color: #fff;">Choose from over 100,000 online video courses with new
            additions published every month</p>
       
    </div>

</div>


 <!-- /content-1-->
 <div class="content-1 py-5">
    <div class="container py-md-5">
        <div class="row content-1-grids">
            <div class="col-lg-12 content-1-left forms-25-info">
                <div class="header-title">
                    <span class="sub-title"></span>
                    <h3 class="hny-title">My Requests</h3>

<table class="table" style="width: 900px;">
    <tr>
        <th>Course Name</th>
        <th>Rate</th>
        <th>Duration</th>
        <th>Requested Date</th>
        <th>Status</th>

    </tr>
    {% for row in data['view_my_request'] %}
    <tr>
        <td>{{ row['course'] }}</td>
        <td>{{ row['rate'] }}</td>
        <td>{{ row['duration'] }}</td>
        <td>{{ row['date'] }}</td>
        <td>{{ row['status'] }}</td>
        {% if row['status']=="Pending" %}
            <td><a href="?action=accept&request_id={{ row['request_id'] }}" class="btn btn-success btn-sm">Accept</a></td>
            <td><a href="?action=reject&request_id={{ row['request_id'] }}" class="btn btn-danger btn-sm">Reject</a></td>
        {% elif row['status']=="Paid" %}
            <td><a href="manager_view_payment?request_id={{ row['request_id'] }}" class="btn btn-info btn-sm">View Payment</a></td>
        {% endif %}
    </tr>
    {% endfor %}
</table>


    
</div>
</div>


</div>
</div>
</div>
<!-- //content-1-->

{% include 'footer.html' %}