{% include 'manager_header.html' %}
  
<div  style="background-image: url(/static/assets/images/banner1.jpg); height: 300px;width: 100%;">
    <div class="banner-info-bg" style="padding-top: 7em;padding-left: 10em;">
        <h2 style="color: #fff;">A Great Place for Learning</h2>
        <p class="mt-4 pr-lg-4" style="color: #fff;">Choose from over 100,000 online video courses with new
            additions published every month</p>
       
    </div>

</div>


<!-- /content-1-->
<div class="content-1 py-5">
    <div class="container py-md-5">
        <div class="row content-1-grids">
            <div class="col-lg-4 content-1-left forms-25-info">
                <div class="header-title">
                    <span class="sub-title">Complaints</span>
                    
                 
                </div>
            </div>
        </div>
        <div class="row content-1-grids">
            <div class="col-lg-6 content-1-right pl-lg-5 mt-lg-0 mt-4">
                <form method="post">
                    <h3 class="hny-title" style="padding-top: 2em;padding-bottom: 1em;">View Tutor Complaints</h3>
                   
                    <table class="table">
                        <tr>
                            <th>Complaint</th>
                            <th>Reply</th>
                            <th>Date</th>
                    
                        </tr>
                        {% for row in data['view_tutor_complaints'] %}
                        <tr>
                            <td>{{ row['complaint'] }}</td>
                            {% if row['reply']=="Pending"%} 
                                        
                                <td style="color: white;"><input type="text" class="form-control"  name="reply{{loop.index}}">
                                    <input type="submit" name="replys{{loop.index}}" value="Send" class="btn btn-success btn-sm"></td>
                    
                            {% else %}
                                <td>{{row['reply']}}</td>
                            {% endif %}
                            <td>{{ row['date'] }}</td>
                            
                        </tr>
                        {% endfor %}
                    </table>
</form>                    
            </div>
            <div class="col-lg-6 content-1-right pl-lg-5 mt-lg-0 mt-4">
                

<form method="post">
    <h3 class="hny-title" style="padding-top: 2em;padding-bottom: 1em;">View Student Complaints</h3>
    <table class="table">
        <tr>
            <th>Complaint</th>
            <th>Reply</th>
            <th>Date</th>
    
        </tr>
        {% for row in data['view_student_complaints'] %}
        <tr>
            <td>{{ row['complaint'] }}</td>
            {% if row['reply']=="Pending"%} 
                        
                <td style="color: white;"><input type="text" class="form-control" name="sreply{{loop.index}}">
                    <input type="submit" name="sreplys{{loop.index}}" value="Send" class="btn btn-success btn-sm"></td>
    
            {% else %}
                <td>{{row['reply']}}</td>
            {% endif %}
            <td>{{ row['date'] }}</td>
            
        </tr>
        {% endfor %}
    </table>
    
    
    </form>
    
            </div>
        </div>
    </div>
</div>
<!-- //content-1-->


{% include 'footer.html' %}