{% include 'public_header.html' %}



      <!-- main-slider -->
      <section class="w3l-main-slider" id="home">
        <div class="companies20-content">
            <div class="owl-one owl-carousel owl-theme">
                
             
                <div class="item">
                    <li>
                        <div class="slider-info banner-view banner-top2 bg bg2">
                            <div class="banner-info">
                                <div class="container">
                                    <div class="banner-info-bg">
                                        <h5>Student Registration</h5>
                                        <form method="post">
                                            <table class="table" style="width: 500px;color : #fff">
                                                <tr>
                                                    <th>First Name</th>
                                                    <td><input type="text" required  class="form-control" name="fname" id=""></td>
                                                </tr>
                                                <tr>
                                                    <th>Last Name</th>
                                                    <td><input type="text" required  class="form-control" name="lname" id=""></td>
                                                </tr>
                                                <tr>
                                                    <th>Place</th>
                                                    <td><input type="text" required  class="form-control" name="place" id=""></td>
                                                </tr>
                                                <tr>
                                                    <th>Phone</th>
                                                    <td><input type="text"  required pattern="[7-9]{1}[0-9]{9}" class="form-control" name="phone" id=""></td>
                                                </tr>
                                                <tr>
                                                    <th>Email</th>
                                                    <td><input type="email"  required class="form-control" name="email" id=""></td>
                                                </tr>
                                                <tr>
                                                    <th>Username</th>
                                                    <td><input type="text" required class="form-control" name="uname" id=""></td>
                                                </tr>
                                                <tr>
                                                    <th>Password</th>
                                                    <td><input type="password"  required class="form-control" name="passw" id=""></td>
                                                </tr>
                                                <tr>
                                                    <td><input type="submit"  required name="student" value="Sign Up" id="" class="btn btn-primary"></td>
                                                </tr>
                                            </table>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </div>
               
            </div>
            

        </div>
    </section>
    <!-- /main-slider -->
    <!-- //banner section -->


{% include 'footer.html' %}